/* Responsive CSS */

/* Mobile (up to 767px) */
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .container {
    flex-direction: column;
    height: 100%;
  }

  .container-login {
    padding-left: 20px;
    padding-right: 20px;
    background-size: cover;
  }

  .login-form,
  .signup-form-container {
    width: 90%;
    height: 80%;
    padding: 20px;
  }

  .search-bar,
  .icon-container,
  .header-bottom,
  .moodboard-btn {
    display: none; /* Hide elements that are unnecessary on mobile */
  }

  .hamburger {
    display: block; /* Show hamburger on mobile */
    width: 80px;
    height: 30px;
  }

  .logo img {
    width: 95px;
    height: 45px;
    z-index: 2;
  }

  .header-top {
    padding: 10px 15px;
    margin-bottom: 1rem;
  }
}

/* Tablets (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 16px;
  }

  .container-login {
    flex-direction: row;
    height: 90vh;
    padding: 30px;
  }

  .login-form,
  .signup-form-container {
    width: 70%;
    height: auto;
    padding: 30px;
  }

  .hero-home-section {
    height: 400px;
  }

  .hero-text-overlay h1 {
    font-size: 2.5rem;
  }

  .header-top {
    flex-direction: row;
    justify-content: space-between;
  }

  .header-bottom {
    gap: 20px;
  }

  .category-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .team-member {
    width: 48%;
  }

  .footer-container {
    text-align: left;
    padding: 40px;
  }
}

/* Medium Laptops (1024px to 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  body {
    font-size: 18px;
  }

  .container-login {
    height: 100vh;
    padding: 40px;
  }

  .login-form,
  .signup-form-container {
    width: 60%;
    height: auto;
    padding: 40px;
  }

  .hero-home-section {
    height: 500px;
  }

  .hero-text-overlay h1 {
    font-size: 3rem;
  }

  .header-top {
    justify-content: space-between;
  }

  .header-bottom {
    gap: 30px;
  }

  .category-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .team-member {
    width: 30%;
  }

  .footer-container {
    text-align: left;
    padding: 60px;
  }
}
